<style>
  label, input, select {
    display: block;
    float: left;
    width: 150px !important;
    padding: 6px 7px 5px !important;
  }
  label {
    font-weight: bold;
  }
  select {
    border: 1px solid #c9d0d6 !important;
    border-radius: 3px !important;
  }
  h3 {
    margin: 20px 0px;
  }
  div.left, div.right {
    float: left !important;
    overflow: auto;
  }
  div.left {
    width: 170px;
  }

  div.master {
    clear: both;
    width: 520px;
    margin-bottom: 5px;
    overflow: auto;
  }

  #container {
    margin-bottom: 20px;
  }

</style>
<%= form_tag(do_report_admin_items_path, method: :post) do %>
  <div id="container">
    <!--
    <div class="master">
      <div class="left">
        <%= label_tag("category", "Category") %>
      </div>
      <div class="right">
        <%= select_tag("item[category]", options_from_collection_for_select(Category.all, :id, :name)) %>
      </div>
    </div>
    -->

    <div class="master">
      <div class="left">
        <%= label_tag("item_number", "Numbers(s)") %>
      </div>
      <div class="right">
        <%= text_field("item", "numbers") %>
      </div>
    </div>

    <div class="master">
      <div class="left">
        <%= label_tag("item_name", "Name") %>
      </div>
      <div class="right">
        <%= text_field("item", "name") %>
      </div>
    </div>

    <div class="master">
      <div class="left">
        <%= label_tag("item_seller_name", "Seller Name") %>
      </div>
      <div class="right">
        <%= text_field("item", "seller_name") %>
      </div>
    </div>
    <div class="master">
      <div class="left">
        <%= label_tag("item_condition", "Condition") %>
      </div>
      <div class="right">
        <%= select_tag("item[condition]", options_for_select( Item.select('DISTINCT condition').order('condition ASC').map(&:condition) ), include_blank: true) %>
      </div>
    </div>
    <div class="master">
      <div class="left">
        <%= label_tag("item_listing", "Category (Listing)") %>
      </div>
      <div class="right">
        <%= select_tag("item[listing]", options_for_select( Category.select('DISTINCT name, url').order('name ASC').map{|c| [c.name, c.url] } ), include_blank: true) %>
      </div>
    </div>
    <div class="master">
      <div class="left">
        <%= label_tag("item_category", "Category") %>
      </div>
      <div class="right">
        <%= select_tag("item[category]", options_for_select( Item.select('DISTINCT category').order('category ASC').map(&:category) ), include_blank: true) %>
      </div>
    </div>
    <div class="master">
      <div class="left">
        <%= label_tag("item_price", "Price") %>
      </div>
      <div class="right">
        <%= text_field("item", "price_min", placeholder: 'Min' ) %> <%= text_field("item", "price_max", style: "margin-left: 5px", placeholder: 'Max') %>
      </div>
    </div>
    <!--
    <div class="master">
      <div class="left">
        <%= label_tag("item_price", "Total Price") %>
      </div>
      <div class="right">
        <%= text_field("item", "total_price_min", placeholder: 'Min' ) %> <%= text_field("item", "total_price_max", style: "margin-left: 5px", placeholder: 'Max') %>
      </div>
    </div>
    -->
  </div>

  <p>
    <a href="#" id="more" style="text-decoration: none">+ More range</a>
  </p>

  <br />

  <p>
    <%= submit_tag("Export") %>
  </p>
<% end %>

<script>
  var Report = {
    range_count: 1,
    add_range: function() {
      var s  = '<div class="master">';
      s += '  <div class="left">';
      s += '    <label>Range</label>';
      s += '  </div>';
      s += '  <div class="right">';
      s += '    <%= raw(select_tag("item[from][]", options_for_select(@dates), include_blank: true).gsub(/[\r\n\s]+/, ' ')) %> <%= raw(select_tag("item[to][]", options_for_select(@dates), include_blank: true, style: "margin-left: 5px").gsub(/[\r\n\s]+/, ' ')) %>';
      s += '  </div>';
      s += '</div>  ';

      $('#container').append(s);
      Report.range_count += 1;
      return false;
    }
  }
  $(document).ready(function() {
    Report.add_range();

    $('#more').click(function(){
      Report.add_range();
      return false;
    });
  });
</script>